.ant-layout .ant-layout-sider-trigger {
    position: absolute
}

.header {
    display: flex
}

.settings-menu {
    flex-grow: 0.25;
    justify-content: flex-end;
}

.menu {
    flex-grow: 1;
}

.header .ant-menu-dark.ant-menu-horizontal >   .ant-menu-item:hover {
    background-color: #4dc193;
}